@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

@layer base {
  :root {
    /* ## Colors */
    /* ### Primary */

    --Soft_red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);

    /* (graphic design text) */
    --Dark_desaturated_cyan: hsl(167, 40%, 24%);

    /* _(photography text) */
    --Dark_blue: hsl(198, 62%, 26%);

    /* (footer) */
    --Dark_moderate_cyan: hsl(168, 59%, 61%);

    /* ### Neutral */

    --Very_dark_desaturated_blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* ## Fonts */
    --barlow: "Barlow", sans-serif;
    --fraunces: "Fraunces", serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  body {
    font-family: var(--bar low);
    font-size: 18px;
    /* line-height: 1.5; */
    color: var(--Dark_grayish_blue);
    margin: 0;
    background-color: white;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--Very_dark_desaturated_blue);
  }
  h1 {
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  ul {
    list-style-type: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 50%;
  }

  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient( transparent ,yellow); */
    background: linear-gradient(transparent, var(--Yellow));
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(yellow, var(--Soft_red));
  }
}

@layer head {
  header {
    background-image: url("/images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .navbar {
    padding-bottom: 65px;
  }

  .navbar__logo {
    padding: 32px 22px 10px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .navbar__logo img.logo {
    width: 100px;
    cursor: pointer;
  }
  .logo__hamburger {
    width: 20px;
    cursor: pointer;
  }
  .logo__hamburger.show {
    transform: rotate(90deg);
    animation: ham 1s ease-in-out backwards;
  }

  @keyframes ham {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .navbar__menu {
    display: none; /* <--- this is the problem; */
    position: fixed;
    background-color: rgb(47, 189, 236);
    max-width: 100%;
   
    padding: 5rem 5rem 50rem 5rem;
    z-index: 2;
  }

  @media (max-width:768px) {
    .navbar__menu{
      width: 100%;
    }
    
  }
  .navbar__menu.show {
    animation: menu 1s ease-in-out backwards;
    display: block;
  }

  @keyframes menu {
    0% {
      /* transform: translateX(-100%); */
      transform: translatex(100%) scale(1);
      /* transition: all 0.7s allow-discrete; */

      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .navbar__menu ul{
    /* margin-left: 50px; */
  }
  
  .navbar__menu a {
    list-style-type: none;
    display: block;
    padding: 20px;
    text-align: center;
    font-family: var(--barlow);
    color: var(--White);
    font-weight: 700;
    font-size: 1rem;
  }
  .navbar__menu a:hover {
    color: var(--Dark_desaturated_cyan);
  }

  .navbar__menu button {
    background-color: var(--Yellow);
    color: var(--Very_dark_desaturated_blue);
    font-family: var(--fraunces);
    font-weight: 900;
    border: none;
    width: 100%;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 25px;
    cursor: pointer;
  }

  .navbar__menu button:hover {
    background-color: var(--Soft_red);
    color: var(--White);
  }

  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header__text {
    margin-top: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header__text h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 35px;
  }

  .header__text img {
    margin-bottom: 130px;
    animation: jumpdown 1s ease-in-out infinite;
    cursor: pointer;
  }

  @keyframes jumpdown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@layer main {
  .section1 img {
    max-width: 100%;
  }
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section1__text {
    text-align: center;
    padding: 0 15px;
    margin: 60px 0;
  }
  .section1__text h2 {
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    color: var(--Dark-blue);
  }
  .section1__text p {
    color: var(--Dark-grayish-blue);
    margin-bottom: 50px;
    font-size: 1rem;
    font-family: var(--barlow);
  }

  .learn-more-btn {
    color: var(--Very_dark_desaturated_blue);
    font-family: var(--fraunces);
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    /* border-bottom: 5px solid var(--Yellow); */
    text-decoration: underline;
    text-decoration-color: var(--Yellow);
    text-decoration-thickness: 7px;
    text-underline-offset: 0px;
  }

  .learn-more-btn:hover {
    text-decoration-color: var(--Soft_red);
  }

  .section2 {
    background-image: url("/images/mobile/image-graphic-design.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 30px;
  }

  .section2__text {
    text-align: center;
    padding: 20px 15px;
    color: var(--Dark_desaturated_cyan);
  }
  .section2__text h2 {
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 30px;
    /* padding-top: 50px; */
  }
  .section2__text p {
    font-size: 0.9rem;
    font-family: var(--barlow);
  }

  .photography__img__wrapper {
    background-image: url("/images/mobile/image-photography.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@layer testtimony {
  .client__testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    flex-direction: column;
    margin: 50px 0;
  }

  .testimonial__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 px;
  }

  .testimonial__text {
    text-align: center;
    padding: 0 15px;
    color: var(--Dark-grayish-blue);

    margin-bottom: 50px;
  }

  .testimonial__text h2 {
    line-height: 1;
    text-transform: uppercase;
    color: var(--Grayish-blue);
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .testimonial__text img {
    border-radius: 50%;
    width: 75px;
    margin: 20px 0;
  }
  .testimonial__text p {
    font-size: 0.9rem;
    font-family: var(--barlow);
    margin-bottom: 20px;
    line-height: 1.8;
  }
  .testimonial__text h3 {
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--Very_dark_desaturated_blue);
    margin-bottom: 10px;
  }
}

@layer images {
  .sample__images {
  }
  .sample__images__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* padding: 0 15px; */
  }

  .sample__image__wrapper img {
    max-width: 100%;
    margin-bottom: -10px;
  }
}

@layer footer {
  footer {
    background-color: var(--Dark_moderate_cyan);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* padding: 20px 15px; */
  }
  .footer__logo {
    cursor: pointer;
    filter: invert(34%) sepia(5%) saturate(3958%) hue-rotate(131deg)
      brightness(93%) contrast(78%);
    margin: 0 0 30px 0;
  }

  .footer__menu ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 60px;
  }
  .footer__menu ul li > a {
    margin: 0 15px;
    color: var(--Dark_desaturated_cyan);
    font-family: var(--barlow);
    font-size: 1rem;
  }

  .footer__menu ul li > a:hover {
    color: var(--White);
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer__social img {
    margin: 0 15px;
    cursor: pointer;
  }

  .footer__social img:hover {
    color: var(--White);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
}

@layer desktop {
  @media (min-width: 768px) {
    header {
      background-image: url("/images/desktop/image-header.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .navbar {
      padding-bottom: 0px;
      position: relative;
      display: flex;
      justify-content: end;
      align-items: center;
      /* border: 2px solid black; */
      /* padding: 0 40px; */
      /*  */
    }

    .navbar__menu a {
      padding: 10px;
      margin-top: 10px;
    }

    .navbar__menu button {
      margin-top: 10px;
    }

    .logo__hamburger {
      display: none;
    }

    .navbar__logo {
      z-index: 0;
      display: flex;
      align-items: center;
      padding-left: 50px;
    }
    .navbar__menu {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      position: relative;
      background-color: transparent;
      padding: 0 40px;
      /* margin-right: 20px; */
      max-width: 100%;
    }

    .navbar__menu ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .navbar__menu ul li {
      margin: 0 15px;
    }

    .navbar__menu button {
      width: auto;
      padding: 10px 25px;
      font-size: 0.8rem;
      border-radius: 25px;
      cursor: pointer;
      background-color: var(--White);
    }

    .navbar__menu button:hover {
      background-color: rgb(255 255 255 / 0.3);
      color: var(--White);
      backdrop-filter: blur(10px);
    }

    .header__text h1 {
      font-size: 2.5rem;
      margin-top: 50px;
      padding-bottom: 65px;
    }

    .header__text img {
      margin-bottom: 230px;
      animation: jumpdown 1s ease-in-out infinite;
      cursor: pointer;
      width: 30px;
    }

    .transform__img__wrapper,
    .section1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
    }
    .section1 img {
      max-width: 100%;
      margin-bottom: -5px;
    }

    .section1__text {
      padding: 0 130px;
      margin: 60px 0;
      max-width: 50%;
      line-height: 1.7;
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    .section1__text h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      margin-top: 50px;
      text-align: left;
    }

    .section1__text p {
      font-size: 1rem;
      font-family: var(--barlow);
      margin-bottom: 50px;
      line-height: 1.7;
    }

    .standout__img__wrapper {
      flex-direction: row;
    }
    .standout__img__wrapper img {
      max-width: 50%;
    }
    .graphic__photography {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      max-width: 100%;
    }

    .graphic-design__img__wrapper {
      background-image: url("/images/desktop/image-graphic-design.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 400px;
      padding-bottom: 30px;
      max-width: 50%;
    }

    .photography__img__wrapper {
      background-image: url("/images/desktop/image-photography.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 400px;
      padding-bottom: 30px;
      max-width: 50%;
    }

    .section2__text {
      padding: 0 190px;

      line-height: 1.7;
    }

    .client__testimonial {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      margin: 100px 0;
    }

    .testimonial__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }

    .testimonial__text {
      flex-direction: row;
      justify-content: center;
      text-align: center;
      padding: 0 60px;
      color: var(--Dark-grayish-blue);
    }

    .client__testimonial h2 {
      line-height: 1;
      text-transform: uppercase;
      color: var(--Grayish-blue);
      font-size: 1.8rem;
      letter-spacing: 2px;
      word-spacing: 3px;
      margin-bottom: 20px;
      margin-top: 50px;
    }

    .testimonial__text p {
      color: var(--Dark-grayish-blue);
      font-size: 0.9rem;
      margin-bottom: 50px;
      line-height: 1.8;
    }

    .sample__images {
      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: row; */
      /* padding: 0 40px; */
    }

    .sample__images__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      /* padding: 0 15px; */
    }
    footer {
      padding: 2rem 0;
    }
    .footer__wrapper {
      padding: 0px 2rem;
    }
    .footer__logo {
      margin: 2rem 0 10px 0;
    }
  }
}
